/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
@import 'scss/colors.scss';
@import 'scss/gatstrap.scss';

/* Carousel base class */
.carousel {
  //margin-bottom: 1rem;
  margin-top: 1rem;
  //margin-left: -1rem;
  padding-left: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  //height: 20rem;
  //border-color: $blue;
  //border-width: 0px;
  //border-radius: 4px;
  //padding-top: 1rem;
  //padding-left: 4rem;
  margin-bottom: 6rem;
  //background-color: rgba(199, 217, 255, 0.1);
  border-style: none;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234EB3ED' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev,
.carousel-control-next {
  bottom: -70%;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234EB3ED' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
  border-radius: 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: $gray-500;
}

.carousel-indicators li.active {
  background-color: $primary;
}
