/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
@import 'scss/colors.scss';
@import 'scss/gatstrap.scss';

.controls {
  position: relative !important;
  top: -2rem !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234EB3ED' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}


.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234EB3ED' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-inner {
  margin-bottom: 3rem;
}

.carousel-indicators button {
  border-radius: 0.75rem !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-color: $gray-500 !important;
}

.carousel-indicators button.active {
  background-color: $blue !important;
}

/* poor man's hack to make sure image is alwash shown as whole */
.max-width {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.min-width {
  padding-left: 0px;
  padding-right: 0px;
}